<?xml version="1.0" ?>
<model>
    <name>Lining up mechanism</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>chapulina</name>
        <email>http://myshumi.net</email>
    </author>
    <description>
      Mechanism made with the model editor, without proper measurements,
      just using the eyemeter. Based on video by thang010146:
      https://www.youtube.com/watch?v=x4P8sSUuNNA
    </description>
</model>
