<?xml version="1.0" ?>
<model>
    <name>Puzzle ball joints</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>chapulina</name>
        <email>http://myshumi.net</email>
    </author>
    <description>
      A Rubik's cube which uses ball joints instead of realistic mechanics to stay together.
    </description>
</model>
